section#contactus {
  // @include headwall("marvelwall");


  .section-heading {
    font-size: 90px;
    margin: 0px;
    color:black;
  }

  
  .form-group {
    margin-bottom: 25px;
  }
  
  .form-group input,
  .form-group textarea {
      padding: 10px;
  }
  
  .form-group input.form-control {
    height: auto;
  }
  
  .form-group textarea.form-control {
    height: 189px;
  }
  
  .form-control:focus {
    border-color: #be3e0c;
    box-shadow: none;
  }
  
  .text-danger {
    color: #e74c3c;
  }

  .btn-warning {
  margin-top: 15px;
  padding: 20px 40px;
  border-color: #be3e0c;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #be3e0c;
  }

}
  



