footer#links {
  
  
  .contact-heading1 {
    font-size: 30px;
  }

  h6 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-wrapper1 {
    background-color: rgb(194, 194, 194);
    padding: 20px;
  }

  .linkbox {
    height:60px;
    width:60px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 10px;

    i {
      margin: 0;
      padding: 0;
      position: relative;
      top: 50%;
      color: white;
      transform: translateY(-50%);
    }
    
  }


  #contactus1 {
    margin-top: 100px;
    padding-bottom: 50px;

    .contact-heading2 {
      font-size: 50px;
    }

  }

  .footer-wrapper2 {

    .gkskfoot {
      height: 50px;
      margin-bottom: 20px;
      
    }

    .aboutus-footer {
      
      ul {
        list-style: none;
      }
      
    }

    .locations-footer {
      
      ul {
        list-style: none;
      }
      
    }

    .contactus-footer {

      
      
      ul {
        list-style: none;
      }

    }
  }


}