section#wall-wrap {
  overflow: hidden;
  

  .wall1 {
    width: 100vw;
    height: 60vh; 
    @include headwall ("jediwall");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(102% - 12px), 0% 84%);
        clip-path: polygon(0 0, 100% 0, 100% calc(102% - 12px), 0% 84%);

    
  }

  .wall2 {
    width: 100vw;
    height: 60vh; 
    @include headwall ("deadpoolwall");
    -webkit-clip-path: polygon(0% 17%, 100% 0%, 100% calc(85% - 12px), 0% 100%);
      clip-path: polygon(0% 17%, 100% 0%, 100% calc(85% - 12px), 0% 100%);
      
  }

  .wall3 {
    width: 100vw;
    height: 60vh; 
    @include headwall ("batmanwall");
    -webkit-clip-path: polygon(0% 1%, 100% 19%, 100% calc(100% - 0px), 0% 83%);
    clip-path: polygon(0% 1%, 100% 19%, 100% calc(100% - 0px), 0% 83%);
    
  }

  .wall4 {
    width: 100vw;
    height: 60vh; 
    @include headwall ("daenarys");
    -webkit-clip-path: polygon(0% 17%, 100% 0%, 100% calc(85% - 12px), 0% 100%);
      clip-path: polygon(0% 17%, 100% 0%, 100% calc(85% - 12px), 0% 100%);
      

  }

}