@mixin newsbox($name) {
	  $url:"../../assets/images/#{$name}.jpg";
    background: linear-gradient(360deg, rgba(8,7,7,0.9444152661064426) 10%, rgba(196,196,196,0) 40%, rgba(196,196,196,0) 60%, rgba(0,0,0,1) 95%), url($url) center / cover no-repeat;
}


@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin headwall($name1) {
  $url:"../../assets/images/#{$name1}.jpg";
  background: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}