section#news {
  margin-bottom: 100px;
  overflow:hidden;

  .news-heading {
    font-size: 100px;
    text-shadow: 2px 3px 2px rgba($black, 0.18);
  
  }

  .card {
    float: left;
    width: 100%;
    margin-bottom: 20px;


    .wrapper-news {
      background-color: white;
      position: relative;
      min-height: 540px;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);

      &:hover {
        .data {
          transform: translateY(0);
        }
      }
    }


    .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
      .content {
        padding: 1em;
        position: relative;
        z-index: 1;
      }
    }
    .author {
      font-size: 12px;
    }
    .title {
      margin-top: 10px;
    }
    .text {
      height: 70px;
      margin: 0;
      text-shadow: 2px 3px 2px rgba($black, 0.18);

    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox']:checked + .menu-content {
      transform: translateY(-60px);
    }
  }

  

  .bg1 {
    @include newsbox(witcher);
  }

  .bg2 {
    @include newsbox(joker1);
  }

  .bg3 {
    @include newsbox(haikyuu);
  }

  .bg4 {
    @include newsbox(comicon);
  }
    
  .bg5 {
    @include newsbox(2020comics);
  }
  .bg6 {
    @include newsbox(pkmn);
  }

  .bg7{
    @include newsbox(lego);
  }

  .bg8{
    @include newsbox(rover);
  }


  

  .header {
      @include cf;
      color: white;
      padding: 1em;
      .date {
        float: left;
        font-size: 12px;
      }
    }


  .data {
    color: white;
    transform: translateY(calc(70px + 4em));
  }

  .title {
    a {
      color: white;
      text-shadow: 1px 1px gray;
    }
  }

  .button {
    display: block;
    width: 100px;
    margin: 1em auto 1em;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 1;
    position: relative;
    font-weight: 700;

    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  } 

  .readbtn {
    width: 100%;
  }


}