section#theherd1 {
	padding-top: 20px;
	padding-bottom: 100px;
	margin-bottom: -64px;

	.section-heading {
	
		margin: 50px;
		font-size: 100px;
	}
	
	.profimg {
		height: 250px;
		width: 250px;
		border-radius: 50%;
		object-fit: cover;
		border: solid 5px lightgray;
		margin: 0 auto;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .2s ease-in-out;
		transition: .3s ease-in-out;
	}
	
	.profimg:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	.name {
		margin-top: 20px;
	}
}



