@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./mixins";
@import "./newsstyle";
@import "./jumbotron";
@import "./profiles";
@import "./contactus";
@import "./footer";
@import "./aboutus";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Share Tech', sans-serif;
	scroll-behavior: smooth

	
}



#navbar {
	transition: top 0.3s;
	text-transform: uppercase;
	font-weight: bold;
}



.gksklogo {
  height: 39px;
  
}

a, a:link, a:hover, a active {
		color: black;
	}


